<div class="auth-page container-fluid vh-100 p-0">
  <div class="row h-100 m-0">

    <!-- Right image -->
    <div class="col-md-6 d-none d-md-flex p-0 order-md-2">
      <img src="assets/landing-image1.jpeg" alt="Salon" class="auth-right-img">
    </div>

    <!-- Left auth form -->
    <div class="col-12 col-md-6 d-flex justify-content-center align-items-center p-4 order-md-1">

      <div class="auth-card w-100 w-md-75">

        <h2 class="auth-title mb-3">Bienvenue</h2>

        <!-- Switch login/register -->
        <div class="switch-buttons d-flex gap-2 mb-4">
          <button type="button" class="btn w-50 login-btn" [class.active]="mode==='login'"
            (click)="mode='login'">Login</button>
          <button type="button" class="btn w-50 register-btn" [class.active]="mode==='register'"
            (click)="mode='register'">Register</button>
        </div>

        <!-- Login Form -->
        <form *ngIf="mode==='login'" class="auth-form">
          <input type="email" placeholder="Email" />
          <input type="password" placeholder="Password" />
          <button type="submit" class="btn submit-btn">Se connecter</button>
        </form>

        <!-- Register Form -->
        <form *ngIf="mode==='register'" class="auth-form" #registerForm="ngForm" (ngSubmit)="onRegister(registerForm)">

          <input type="text" name="firstName" [(ngModel)]="registerData.firstName" placeholder="First Name" required
            #firstName="ngModel" />
          <div *ngIf="firstName.invalid && firstName.touched" class="error">First Name is required</div>

          <input type="text" name="lastName" [(ngModel)]="registerData.lastName" placeholder="Last Name" required
            #lastName="ngModel" />
          <div *ngIf="lastName.invalid && lastName.touched" class="error">Last Name is required</div>

          <input type="email" name="email" [(ngModel)]="registerData.email" placeholder="Email" required
            #email="ngModel" />
          <div *ngIf="email.invalid && email.touched" class="error">Email is required</div>

          <input type="text" name="phoneNumber" [(ngModel)]="registerData.phoneNumber" placeholder="Phone Number"
            required #phone="ngModel" />
          <div *ngIf="phone.invalid && phone.touched" class="error">Phone Number is required</div>

          <div class="password-wrapper">
            <input [type]="showPassword ? 'text' : 'password'" name="password" [(ngModel)]="registerData.password"
              placeholder="Password" required #password="ngModel" />
            <span class="toggle-password" (click)="showPassword = !showPassword">{{ showPassword ? '👁️': '🔒'
              }}</span>
          </div>
          <div *ngIf="password.invalid && password.touched" class="error">Password is required</div>

          <div class="password-wrapper">
            <input [type]="showConfirmPassword ? 'text' : 'password'" name="confirmPassword"
              [(ngModel)]="registerData.confirmPassword" placeholder="Confirm Password" required
              #confirmPassword="ngModel" />
            <span class="toggle-password" (click)="showConfirmPassword = !showConfirmPassword">{{ !showConfirmPassword ?
              '🔒' : '👁️' }}</span>
          </div>
          <div *ngIf="confirmPassword.invalid && confirmPassword.touched" class="error">Confirm Password is required
          </div>

          <button type="submit" class="btn submit-btn" [disabled]="registerForm.invalid">S'inscrire</button>
        </form>

        <!-- Switch role section -->
        <div class="switch-role">
          <span class="switch-role-text-white">Souhaitez-vous prendre rendez-vous ?</span>
          <button class="btn switch-role-btn" (click)="toggleRole()">
            Passer à {{ role === 'CLIENT' ? 'Coiffeur' : 'Client' }}
          </button>
        </div>

      </div>
    </div>

  </div>
</div>